<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ocl2acsl.customOperation">
      <Operation
            acslName="setter"
            instance="org.eclipse.uml.a2acsl.setter.Setter"
            notation_type="other">
      </Operation>
   </extension>

</plugin>
